/* Font */
@font-face {
	font-family: "Ubuntu";
	src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
	font-family: "Ubuntu";
	overflow-x: hidden;
	width: 100vw;
}

/* Header */

.header {
	width: 100%;
	background-color: #9564AA;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.header__left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 87%;
}

#toggle-sidebar {
	display: none;

	border: none;
	width: 28px;
	height: 21px;
	background-color: #9564AA;
}

#toggle-sidebar svg {
	max-width: 23px;
	max-height: 14px;
}

.header__logo {
	font-size: 48px;
	font-weight: 700;
	color: #ffffff;
}

.header__nav--link {
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	padding: 6px 13px;
	border-radius: 10px;

	transition: background .3s ease;
}


.header__nav--link:hover {
	background-color: #684677;
}

.header__nav--link:not(:last-of-type) {
	margin-right: 41px;
}

.header__link-premium {
	max-width: 115px;
}

.header__upgrade {
	max-width: 123px;
	display: flex;
	justify-content: space-between;
	align-items: center;


	color: #ffcf2d;
	background-color: #694677;
	padding: 6px 13px;
	border-radius: 10px;
}

.header__svg {
	max-width: 18px;
	max-height: 15px;
}


/* Parallax */

#parallax {
	z-index: -2;
	width: 100vw;

	/* overflow-x: hidden; */


	position: absolute;
	top: 13%;
	left: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.parallax-img {
	/* position: absolute;
	transform: translateY(32%); */
	max-height: 588px;
	max-width: 520px;
	z-index: -2;
}

.parallax-first {
	grid-column: 1;
}

.parallax-second {
	grid-column: 4;
}



/* Wrapper */

.wrapper {
	overflow: hidden;
	margin-top: 30px;
	position: relative;
}

.wrapper__inner {
	display: flex;
	justify-content: space-between;
}




/* Sidebar */

.sidebar {
	

	background-color: rgb(149, 100, 170, .10);
	border: 2px solid rgb(149, 100, 170, .20);
	border-radius: 10px;
	min-width: 250px;
	max-width: 270px;
	max-height: 100vh;
	min-height: ;

	padding: 16px 0 0 15px;
}

.pad_left {
	padding-left: 16px;
}

.profile {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.profile__image {
	width: 49px;
	height: 49px;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.image__title {
	margin-left: 13px;
	
}

.profile-name {
	margin: 0;
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 16px;
}

.upgrade-btn {
	background-color: #684677;
	font-size: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 10px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}
.hr {
	margin: 18px 0 21px;
	background-color: rgb(149, 100, 170, .20);
	max-width: 232px;
	width: 100%;
	height: 2px;
}


/* Navigation */

.navigation li{
	list-style: none;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	margin-left: 12px;
}

.navigation-icons {
	max-height: 20px;
	max-width: 20px;

	margin-right: 30px;
}

.navigation__link {
	text-decoration: none;
	color: #000000;
	font-weight: 400;
	font-size: 16px;
}

.navigation ul {
	padding-left: 0;
}

.navigation li:not(:last-of-type) {
	margin-bottom: 25px;
}


/* Main */

.main {
	/* flex-grow: 1; */
	width: calc(100% - 270px);
	margin-left: 30px;
}

.main__title {
	max-width: 851px;
	line-height: .7;
	margin: 0;
	font-weight: 700;
	font-size: calc(20px + 1vw);
	text-shadow: 3px 3px 0 rgb(0, 0, 0, .3);
}

.main__title--underline {
	background-color: rgb(149, 100, 170, .20);
	width: 100%;
	height: 2px;
	margin: 20px 0 30px;
}

.main__sale--timer {
	background-color: #c15ca1;
	border-radius: 10px;
	padding: 13px 13px;

	margin-bottom: 26px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main__sale--title {
	margin: 0;
	color: #ffcf2d;
	font-weight: 700;
	font-size: 40px;
	-webkit-text-stroke: .1px #ffffff;
}

.main__sale--text {
	font-weight: 700;
	font-size: 16px;
	color: #ffffff;
}



/* Timer */

#timer {
	font-weight: 400;
	font-size: 40px;
	background-color: #ffffff;
	padding: 5px 20px;
	border-radius: 5px;
	word-spacing: 10px;

	max-width: 238px;
	width: 100%;
}

.separator {
	padding: 0 10px;
}


/* Swiper */

.swiper-container {
	display: none;
	position: relative;
}

.swiper-pagination {
	position: absolute;
	display: none;
}

.swiper-pagination-bullet {
	background-color: #684677;
}


/* Discount */

.discount__cards {
	display: flex;
  flex-wrap: wrap;
	gap: 30px;
}

.discount__card {
	position: relative;

	flex-grow: 1;
	flex-basis: 11%;
	max-height: 123px;
	border: 2px solid #9564AA;
	border-radius: 10px;
	padding: 13px 13px;
	text-align: center;
	background-color: rgb(149, 100, 170, .1);

	transition: background .3s ease;
}

.discount__card:last-child {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 41px;
}

.discount__card:last-child .amount-sale {
	margin-bottom: 0;
}

.discount__card:hover {
	background-color: #9564AA;
}

.discount__card:hover .text-hover {
	opacity: 1;
}

.amount-sale {
	margin-bottom: 11px;
}

.sale__number {
	font-weight: 700;
	font-size: 24px;
}

.text-hover {
	opacity: 0;
	position: absolute;
	min-width: 100px;
	top: -14px;
	left: 50%;
	transform: translateX(-50%);
	padding: 3px 10px 4px;

	background-color: #ffcf2d;
	border-radius: 5px;
	font-weight: 700;
	font-size: 14px;
	-webkit-user-select: none;

	transition: opacity .3s ease;
}

.amount-svg {
	max-width: 17px;
	max-height: 17px;
}

.card-btn {
	min-width: 119px;
	padding: 17px 29px;
	font-size: 16px;
	font-weight: 500;
	color: rgb(0, 0, 0, .3);
	border: none;
	border-radius: 5px;
	cursor: pointer;

	transition: all .3s ease;
}

.card-btn:hover {
	background-color: #ffcf2d;
	color: #000000;
}


/* Swiper */
.swiper-slide__inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	
	width: 94%;
}

.slide__offer {
	position: absolute;
	background-color: #FFC500;
	font-weight: 700;
	font-size: 14px;
	border-radius: 10px;
	padding: 3px 10px;
}

.slide__left {
	width: 22px;
	height: 60px;
	
}

.slide__right {
	border-radius: 10px;
	background-color: #9564AA;
	color: #ffffff;
	width: 100%;
	height: 60px;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 8px;
	gap: 5px;
}

.slide__number {
	font-weight: 700;
	font-size: 21px;
}

.slide-svg {
	max-width: 20px;
	max-height: 20px;
}

.slide-btn {
	display: none;
	width: 94%;
	padding: 17px 29px;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffcf2d;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 49px;
}





/* Custom Checkbox */

.custom {
	margin: 12px 0 33px;
}

.custom-checkbox {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.custom-checkbox input{
	display: none;
}

.checkmark {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.custom-checkbox .checkmark {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox .checkmark svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
}

label a {
	margin-left: 5px;
	text-decoration: none;
	/* min-width: 100px; */
}



/* Cricle */

.content {
	max-height: 310px;
	min-height: 300px;
	height: 100%;
	margin: 63px 0;
}

.circle {
	position: relative;
	max-width: 370px;
	max-height: 410px;
	height: 100%;
	margin: 0 auto;
}

.circle p {
	max-width: 114px;
	font-weight: 700;
	font-size: 12px;
	color: #9564AA;
}

.circle__svg-big {
	max-width: 129px;
	max-height: 107px;
}

.circle__svg-inner {
	width: 20px;
	height: 20px;
	background-color: rgb(149, 100, 170, .1);
	padding: 17px 17px;
	border-radius: 50%;
}

.circle__svg {
	width: 20px;
	height: 20px;
	fill: #9564AA;

	transition: fill .2s ease;
}

.circle__svg-inner:hover .circle__svg {
	fill: #FFCF2D;
}

.diamond {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle__item:nth-child(2) {
	top: 7%;
	left: 32%;
	transform: translate(-50%, -50%);
}

.circle__item:nth-child(3) {
	top: -10%;
	left: 52%;
}

.circle__item:nth-child(4) {
	top: 31%;
	left: 75%;
}

.circle__item:nth-child(5) {
  top: 86%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.circle__item:nth-child(6) {
  top: 69%;
  left: 18%;
}

.circle__item:nth-child(7) {
  top: 31%;
  left: -5%;
} 




/* Media */

@media (max-width: 1250px) {
	
	/* .discount__card:last-child {
		display: block;
	} */

	#parallax {
		display: none;
	}
}



@media (orientation: portrait) {

	.container {
		max-width: 90%;
	}

	.wrapper__inner {
		overflow: hidden;
	}

	.sidebar {
		background-color: #ffffff;
		border: none;
		position: absolute;
    top: -10px;
    left: 0;
		height: 100vh;
    transform: translateX(-120%);
		transition: transform 0.3s ease-in-out;
		z-index: 10;
	}

	.sidebar.active {
    transform: translateX(-10%);
  }

	.main {
		margin-left: 0;
		width: 100%;
	}

	.main__title {
		margin-top: 2px;
		text-shadow: 0 0 0;
	}

	.header__logo {
		display: none;
	}

	#toggle-sidebar {
		display: block;
	}


}

@media (max-width: 940px) {
	#timer {
		max-width: 100%;
		width: 242px;
	}
}

@media (max-width: 940px) {
	.header__nav a {
		display: none;
	}

	.header__upgrade {
		display: block;
		max-width: 20px;
		background-color: transparent;
	}

	.header__upgrade div {
		display: none;
		
	}

	.main__sale--timer {
		display: none;
	}
}

@media (max-width: 500px) {
	.header__inner {
		height: 50px;
	}

	.diamond {
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.circle__item {
		display: flex;
		flex-direction: row;
		position: relative;
	}

	.circle__item:nth-child(2) {
		top: 0;
		left: 0;
		transform: translate(0, 0);
	}
	
	.circle__item:nth-child(3) {
		top: 0;
		left: 0;
	}
	
	.circle__item:nth-child(4) {
		top: 0;
		left: 0;
	}
	
	.circle__item:nth-child(5) {
		top: 0;
		left: 0;
		transform: translate(0, 0);
	}
	
	.circle__item:nth-child(6) {
		top: 0;
		left: 0;
	}
	
	.circle__item:nth-child(7) {
		top: 0;
		left: 0;
	} 

	.circle__item p {
		max-width: 200px;
		text-align: justify;
		margin-left: 10px;
	}

	.circle {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-height: 500px;
	}

	.content {
		max-height: 650px;
	}

	.circle__item:not(:last-of-type) {
		margin-bottom: 20px;
	}
}


@media (max-width: 368px) {

	.slide-btn {
		display: block;
	}

	.pad__left--bg {
		padding: 10px 0 10px 15px;
		border-radius: 3px;
	}

	.pad__left--bg:hover {
		background-color: #FFC500;
	}

	.navigation li:not(:last-of-type) {
		margin-bottom: 1px;
	}

	.content {
		margin: 36px 0;
	}

	.custom-checkbox {
		max-width: 94%;
		align-items: flex-start;
	}

	.custom-checkbox .checkmark {
		margin-right: 21px;
	}

	#swiper-visible {
		display: none;
	}

	.swiper-container {
		display: flex;
		justify-content: center;
    align-items: center;
	}

	

	.swiper-pagination-bullet {
		background-color: #FFC500;
	}

	.privacy {
		font-size: 10px;
	}

	.sale__number {
		color: #ffffff;
	}

	.swiper-pagination {
		display: block;
		z-index: 1;
		transform: translateY(30px);
	}
	
	
}





